<form>
    <input type="text">
    <button type="submit">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8.40584" cy="9.19563" r="6.90584" stroke="currentColor" stroke-width="3"></circle>
            <path d="M14.2031 14.4131L20.0003 20.2102" stroke="currentColor" stroke-width="3"></path>
        </svg>
    </button>
</form>